@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
    --animate-glow: glow 2s ease-in-out infinite alternate;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Scrollbar Styling */
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}